/* ---- google fonts ---- */
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
    /* font-family: 'Marcellus', serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Play', sans-serif; */
    font-family: 'Marcellus', serif;
    color: white;
    color: black;
    scroll-behavior: smooth;
}

body {
    background-size: cover;
    /* height: 100%; */
    height: 100vh;
    /* background: linear-gradient(50deg, rgb(197, 147, 247),rgba(114, 72, 116, 0.711),rgba(255, 255, 255, 0.777)); */
    /* background: linear-gradient(58deg, rgba(244, 160, 33, 0.301),rgba(245, 222, 179, 0.325),rgba(165, 42, 42, 0.099)); */
    background-color: var(--b-color);
    background-color: rgba(187, 177, 236, 0.189);

}

a {
    text-decoration: none;
}

:root {
    --w-color: rgb(255, 255, 255);
    --b-color: rgb(0, 0, 0);
    --v-color: rgb(154, 69, 234);
    --g-color: rgba(24, 212, 24, 0.898);
    --blu-color: rgb(91, 136, 226);
    --font-lscreen: 1.3rem;
    --txt-shadow: 0px 0px 22px;

    --font-s: 1.4rem;
    --font-m: 1.6rem;
    --font-l: 1.8rem;
    --font-xl: 3.4rem;

    --line-h: 34px;
    --ltr-spacing: 0.01cm;   

}

/* ==================== nav =================== */
.divheader{
    margin-top: 20px;
}
.logo{
    background: linear-gradient(78deg,rgb(57, 57, 236),rgba(235, 26, 235, 0.887),
    rgba(0, 155, 251, 0.802));
    background-clip:content-box;
    text-transform: uppercase;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;

    font-size: 60px;
    font-weight: 900;
    cursor: pointer;
    margin-top: 6px;
    padding-right: 18px;
    border-bottom: 5px solid var(--v-color);
    border-radius: 0px 0px 100px 4px;
    /* border-right: 3px solid orange; */
}
.navbr {
    margin: 0px auto;
    width: 100%;
    height:60px;
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    
        /* border: 2px solid black; */
    }
    .links{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    li{
        list-style: none;
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 0px 10px;
    }
     a{
        text-decoration: none;
        color:black;
        font-size: 1.6rem;
        font-weight: 900;
    }
    .links li a:hover{
        color: var(--v-color);
        border-bottom: 2px solid var(--v-color);
    }
    
    
    .toggle_btn{
        font-size: 1.5rem;
        color: #fff;
        cursor: pointer;
        /* display: none; */
    }
    .divheader {
        position: relative;
        padding: 0 2rem;
    }
    
    /* DROPDOWN MENU */
    .dropdown_menu{
        position: absolute;
        right: 2rem;
        top: 60px;
        width: 300px;
    
        height: 0;
    
        background:  rgba(187, 177, 236, 0.389);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
        z-index: 100;
        /* transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275) */
        ;
    }
    .dropdown_menu.open{
        height: auto;
    }
    .dropdown_menu li{
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
    }
        
    
    
    /* RESPONSIVE DESIGN */
    @media (max-width: 992px) {
        .navbr .links{
        display: none;
        }
    }
    
    @media (min-width: 992px) {
    .toggle_btn{
        font-size: 1.5rem;
        color: #fff;
        cursor: pointer;
        display: none;
    }
    }
    @media (max-width: 576px) {
        .dropdown_menu{
            left: 2rem;
            width: unset;
        }
    }

    @media (max-width: 576px) {
        .logo{
            font-size: 30px;
            font-weight: 900;
            cursor: pointer;
            margin-top: 3px;
            padding-right: 8px;
            border-bottom: 3px solid var(--v-color);
            border-radius: 0px 0px 40px 4px;
        }
    }
    


/* ------------------------------------- photo and intro ------------------------------------- */
#myimg{
    filter: drop-shadow(0px 10px 15px rgb(154, 69, 234));
}
header {
    margin: 5% 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,390px));
    justify-content: center;
    align-items: center;
    /* border: 2px solid gold; */
}

.leftsec {
    letter-spacing: initial;
    font-size: var(--font-s);
    padding: 4% 2% 10% 10%;
    line-height: 30px;
    /* border: 2px solid rgb(255, 255, 255); */
}
/* @media (max-width:425px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 60px);
    }
    .leftsec{
        padding:0px;
    }
    #photodiv{
        margin-top: 4vh;
    }
} */

.lsdiv b {
    font-size: var(--font-l);
    color: var(--v-color);
    text-shadow: var(--txt-shadow);
}
#element {
    font-size: var(--font-m);
    color: var(--v-color);
    text-shadow: var(--txt-shadow);
}


#photodiv{
    display: flex;
    justify-content: center;
}
#photodiv img {
    width: 270px;
    height: auto;
    /* border-radius: 10%; */
    /* box-shadow: 0px 0px 30px var(--b-color); */
}

@media (min-width : 1024px){
    #photodiv img {
        width: 320px;
        height: auto;
    }
}


@media (min-width : 1024px) {
    header{
        margin: 8% 0px;
    }
    .leftsec {
        font-size: 1.8em;
        padding: 4% 0% 4% 4%;
        line-height: 44px;    
    }
    .lsdiv b {
        font-size: 2.3rem;
    }
    #element {
        font-size: 2.65rem;
    }
    
}


/* ===================== About ===================== */

#abth1{
    margin-top: 30px;
    text-align: center;
    font-size: var(--font-xl);
    color: var(--v-color);
    /* color: rgba(160, 38, 212, 0.847); */
}
#mainabt{
    margin: 5% 0px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(280px,390px)); */
    grid-template-columns: repeat(auto-fit,minmax(280px,470px));
    justify-content:center;
    align-items: center;
    text-align: justify;
}
@media (max-width : 940px) {
    #mainabt{
        display: flex;
        flex-direction: column-reverse;
    }
}
.abtclass{
    display: flex;
    justify-content: center;
    align-items: center;
}
#abtdiv2{
    font-weight: 600;
    padding: 8%;
    font-size: var(--font-s);
    line-height: var(--line-h);
    letter-spacing: var(--ltr-spacing);    
}
@media (min-width : 1440px) {
    #abtdiv2{
        padding: 0px;
    }
}

#abtdiv1 img{
    height:300px;
    width: auto;
    padding: 18px 2px;
}



/* === Experience and Education */

#subdivabt{
    /* margin: 5% 0px; */
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(280px,390px)); */
    grid-template-columns: repeat(auto-fit,minmax(280px,470px));
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}
.abteclass h2{
    font-size: var(--font-l);
    color: var(--v-color);
    opacity: 0.9;
    padding: 10px 0px;
}
.abteclass{
    margin: 10px;
    padding-left: 40px;
    border-left: 2px solid black;
    /* border-bottom: 2px solid black; */
    border-radius: 0px 0px 0px 70px;
    border-width: 3px;
}
#abteclass ul li{
    list-style: square;
}


/* ================================== PROJECTS ================================== */

#projh1{
    margin-top: 55px;
    margin-bottom: 55px;
    text-align: center;
    font-size: var(--font-xl);
    color: var(--v-color);
}




/* ================================== SKILLS ================================== */
.skill_imgs{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
    height: 150px;

    /* border:2px solid black; */

}
@keyframes fade{
    0%{
        opacity: 0.4;
        height: 40px;
    }
    50%{
        opacity: 0.9;
        height: 50px;

    }
    100%{
        opacity: 0.4;
        height: 40px;
    }
}
.skillimg1{
    /* animation: ami_name duration type delay iteration_count; */
    /* animation: fade 4s ease-in 0s infinite normal; */
    background-position: center;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.skillimg1 img{
    animation: fade 3s ease-in 0s infinite normal;
    height: 70px;
    transform-origin: center;
    /* animation : name duration timing-fun delay iteration-count  */
}
.skillimg2 img{
    animation: fade 5s ease-in 0s infinite normal;
    height: 70px;
    transform-origin: center;
}
.skillimg3 img{
    animation: fade 5s ease-in 4s infinite normal;
    height: 70px;
    transform-origin: center;
}
.skillimg4 img{
    animation: fade 5s ease-in 8s infinite normal;
    height: 70px;
    transform-origin: center;
}
@media (max-width:500px){
    .skill_imgs{
        height: 245px;
        margin: 18px 8px; 
    }
}



/* ============ PROJECTS ===== professional img div ============ */

#professionalcardsecid1{
    max-width: 1280px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

}

.porjectCardDiv{
    /* margin: 0 auto; */
    /* margin-top: 40px; */
    border: 2px solid black;
    width: 270px;
    /* height: 300px; */
}
.porjectCardDiv h4{
    margin: 12px 0px;
    font-size: large ;
}
.proimgdiv{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 172px;
    width: 100%;
    overflow: hidden;
    /* background-size: cover; */
}
.proimgdiv a{
    height: 100%;
    width: 100%;
}
.proimgdiv img{
    height: 100%;
    width: 100%;
}
.proimgdiv img:hover{
    transition:all 0.3s ease-in ;
    scale: 1.1;
    cursor: pointer;
}
.procontentdiv p{
    line-height: 24px;
}
.flex03{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0px;
}
.flex03 i{
    font-size: x-large;
    font-weight: 100;
    margin-top: 10px;
    cursor: pointer;
}
.flex03 i:hover{
    color: var(--v-color);
}

/* ===================== Projects CARDS ===================== */

/* ------ 3d modelling card ----- */
.modellig{
    width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16%;
    line-height: 25px;
    border-top: 1.2px solid slategray;
    border-bottom: 1.2px solid slategray;
    /* border: 2px solid black; */
}
@media (max-width: 940px){
    .modellig{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        padding: 0 8%;
        padding-bottom: 20px;
        line-height: 25px;
    }
}
#projects_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% auto;
    max-width: 1280px;
    flex-wrap: wrap;
}
.cards {
    perspective: 500px;
    padding: 30px;
  }
  
  .card {
    width: 200px;
    height: 250px;
    background-image: url("images/3d.png");
    background-size: cover;
    background-position: center;
    /* background: #16161d; */
    border: 2px solid #000000;
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
  }
  
  .card:hover {
    cursor: pointer;
    transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
  }
  
  .card_title {
    color: #fff;
    color: var(--b-color);
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: transform .5s;
    font: 700 1.5rem monospace;
    text-shadow: -1px -1px 0 #000000,  
      1px -1px 0 #130000,
      -1px 1px 0 #000000,
       1px 1px 0 #080000;
    text-shadow: -2px -2px 3px var(--w-color),  
       2px -2px 3px #fff8f8,
       -2px 2px 3px var(--w-color),
        2px 2px 3px #e5dada;
  }
  
  .card:hover .card_title {
    transform: translateZ(50px);
}
.card:hover{
      box-shadow: -3px -3px 20px var(--b-color);
}

/* === img to all cards === */

/* imgs search using API */
#cd16{
    background-image: url("images/imgsearch.png");
    background-size: cover;
    background-position: center;
}
/* --- fetch movies with API REACT */
#cd15{
    background-image: url("images/movie-png.png");
    background-size: cover;
    background-position: center;
}
/* --- Ui to website design REACT and Tailwind Css */
#cd14{
    background-image: url("images/UI\ to\ website.png");
    background-size: cover;
    background-position: center;
}

/* contact pg using React */
#cd13{
    background-image: url("images/contacts.png");
    background-size: cover;
    background-position: center;
}

/* Weather using API in React */
#cd12{
    background-image: url("images/weatherapp.png");
    background-size: cover;
    background-position: center;
}
#cd11{
    background-image: url("images/cricket.png");
    background-size: cover;
    background-position: center;
}

#cd1{
    background-image: url("images/3D\ modelling.png");
    background-size: cover;
    
    background-position: center;
}
#cd2{
    background-image: url("images/food\ web.png");
    background-size: cover;
    background-position: center;
}
#cd3{
    background-image: url("images/3\ pro\ clk.png");
    background-size: cover;
    background-position: center;
}
#cd4{
    background-image: url("images/login\ pro\ 4.png");
    background-size: cover;
    background-position: center;
}
#cd5{
    background-image: url("images/to\ do\ pro\ 5.png");
    background-size: cover;
    background-position: center;
}
#cd6{
    background-image: url("images/port001.png");
    background-size: cover;
    background-position: center;
}
#cd7{
    background-image: url("images/youtube-logo.png");
    background-size: cover;
    background-position: center;
}
#cd8{
    background-image: url("images/moviesAPI.png");
    background-size: cover;
    background-position: center;
}

.projectfooter{
    text-align: center;
    padding: 0px 0px 10px 0px;
    margin-bottom: 10px;
    font-weight: 200;
}
#pf11{
    margin: 0px auto;
    margin-bottom: 20px;
    width: fit-content;
}
#pf11:hover {
    color: var(--v-color);
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
    translate:0px -4px;
}
#footerGitIcon:hover{
    color: var(--v-color);
    transition: all;
    transition-duration: 1s;
    translate:0px -4px;
}

/* ===================== FOOTER ==================== */

 
footer{
    padding-top: 24px;
    padding-bottom: 20px;
    text-align: center;
    border-top: 1.4px solid;
}

#contactbtn{
    padding: 12px;
    margin-bottom: 12px;
    border: 2px solid ;
    border-radius: 1.5px;
    /* font-size: 26px; */
    /* font-weight: 700; */
    background-color: rgba(177, 208, 236, 0.3);
}
@media (max-width : 520px) {
    #contactbtn{
        padding: 8px;
        margin-bottom: 6px;
        border: 1.4px solid;
        font-size: 16px;
        font-weight: 500;
    }
}
#contactbtn:hover{
    color: var(--v-color);
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.258);
    border: 2px solid;
    transform: translateY(-2px);
}

/* ----- social media icons ----- */
.footdivmain{
    padding: 12px 0px;

}
.footdivmain i{
    padding: 0px 4px;
    font-size: 2rem;
    font-weight: 100;
}

@media (max-width : 520px) {
    .footdivmain i{
        padding: 0px 4px;
        font-size: 2.2rem;
    }
}

.footdivmain i:hover{
   color: var(--v-color);
   cursor: pointer;
}
.footdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 6px 0px;     */
    /* font-weight: 100; */
    /* font-size: 40px; */
    /* margin: 20% 20px; */
    /* border: 2px solid; */
}

#copyright-icon{
    padding: 0px 2px;
}